#Global Vars
ADMIN_IDS=

#BOT_TOKENS
BOT=

#Postgre_Stuff
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=
DB_PORT=
ENGINE_ECHO=

#Alembic_Stuff
MIGRATE=
COMMIT_MESSAGE=
TZ=

#Soc_Profiles
INSTAGRAM=
VK=
TG_DM=
TG_CHANNEL=
WA=
YA_DISK=
SUPPORT=

#Some_stuff
ORG_NAME=
CHANNEL_ID=